body {
  background-color: rgb(241, 233, 224);
}
.menuContainer{
  box-shadow: 0px 8px 15px -3px rgb(160, 149, 139);
  background-color: rgb(202, 191, 178);
  height: 115px;
}
.hrBottom{
  margin: 0;
  background-color: rgb(160, 81, 35);
}
.hrTop{
  margin-bottom: 0;
  background-color: rgb(160, 81, 35);
}
.menu {
  margin-top: 8px;
  height: 95px;
  background-color: rgb(202, 191, 178);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.homepage{
  margin-left: 150px;
}
.searchDiv{
  margin-right: 150px;
  display: flex;
  align-items: center;
}
.searchField {
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 20px;
  padding-left: 15px;
  transition: width 0.3s ease-in-out;
}
.searchField:focus{
  width: 300px;
  transition: width 0.3s ease-in-out;
}
.searchButton{
  padding: 5px;
  border: none;
  background-color: transparent;
  margin-right: 20px;
}
.logOut{
  margin-left: 30px;
  width:100px;
  height: 35px;
  margin-top:10px
}
.newPostButtonDiv {
  display: flex;
  align-items: center;
  height: 80px;
  margin-top: 20px;
}
.newPostButton {
  height: 35px;
  margin-left: 80px;
  padding: 0;
  width: 100px;
}
.newPostDiv {
  width: 800px;
  background-color: white;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 70px;
  border-radius: 10px;
  padding: 30px;
}
.formDiv{
    width:750px;
    display: flex;
    flex-direction: column;
}
.uploadImage {
  color: rgb(38, 41, 37);
  width: 105px;
  background-color: rgb(241, 241, 241);
  margin-top: 5px;
}

.uploadImage:hover {
  background-color: rgb(132, 158, 150);
}
#text {
  resize: none;
  margin-bottom: 15px;
  padding: 15px;
  font-size: 20px;
  height: auto;
}
.closeNewPostDiv {
  width: 30px;
  margin-left: 90%;
  margin-bottom: 15px;
  padding: 0;
}
.submitButton{
    width:100px;
    margin-left: 85%;
}
button{
    cursor: pointer;
}
.image{
  width:100%;
  height:100%;
  object-fit:cover !important;
}
.postsContainer{
  align-items: center;
 display: flex;
 flex-wrap: wrap;
 margin-top: 35px;
}
.posts{
  margin-left: 70px;
  margin-bottom: 120px;
  height: fit-content;
}
.posts:hover{
  box-shadow: 0px 8px 15px -3px rgb(160, 149, 139);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
#title{
  width:300px;
  margin-bottom: 20px;
  height: 30px;
  padding-left: 10px;
}
.titleDiv{
  display: flex;
  flex-direction: column;
}
.imgContainer{
  width: 100%;
  height: 350px;
}
.postDate{
  color:rgb(182, 182, 182)
}
.noPostsFound{
  margin-left: 70px;
}
.postButtons{
  display: flex;
  justify-content: space-between;
}
#modalBody{
  padding: 25px !important;
}
#removeImageBtn{
  margin: 0;
  margin-top: 5px;
}
.buttonsWrapper{
  display: gird;
  grid-gap:5px
}
.previewImage{
  width:200px;
  height: auto;
}